@import "boilerplate";
@import "variables/global";
@import "variables/typography";
@import "themes/dark";
@import "themes/light";

.app {
    position: relative;
    z-index: var(--app-z-index);
    background: var(--bg-color);
    color: var(--primary-color);
    transition-duration: 0.7s;
    min-height: 100vh;
}

.container {
    max-width: var(--max-width);
    padding-top: 4rem;
    margin: 0 auto;
    padding-inline: 12px;
    display: flex;
}
