@import "@/app/styles/mixins";

.notFoundPage {
    @include center-absolute;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 8rem;
    line-height: 8rem;
}
