.app.dark {
    --bg-color: #0d0d0d;
    --header-bg-color: rgb(24 24 29 / 30%);
    --header-link-color: #c5c5c5;
    --primary-color: #fff;
    --secondary-color: #808080;
    --card-bg-color: rgb(24 24 24 / 100%);
    --border-color: rgb(56 55 55 / 100%);
}
